/* You can add global styles to this file, and also import other style files */
button {
    width: 32vw;
    height: 16vw;
    min-width: 7em;
    min-height: 3.5em;
    border: solid 0.2vw black;
    background-size: contain;
    font-size: 1em;
    cursor: pointer;
    line-height: 22%;
}

#llama {
    background-color: palevioletred;
}